BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterCStyleCast: true
